# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log

# MkDocs documentation
site/

# PyBuilder
target/


# PyCharm
.idea

# VS Code
.vscode
/src-ui/.vscode
/docs/.vscode

# Other stuff that doesn't belong
.virtualenv
virtualenv
/venv
.venv/
.local/
nltk_data/
/docker-compose.env
/docker-compose.yml
.ruff_cache/

# Used for development
scripts/import-for-development
scripts/nuke

# Static files collected by the collectstatic command
/static/

# Stored PDFs
/media/
/data/
/consume/
/export/

# this is where the compiled frontend is moved to.
/src/documents/static/frontend/

# mac os
.DS_Store

# celery schedule file
celerybeat-schedule*
sdb/data/db.sqlite3
sdb/data/index/_MAIN_6.toc
sdb/data/index/MAIN_bzw3b2ld46b5pb7j.seg
sdb/data/index/MAIN_n6qtxbvx2ibsfmtw.seg
sdb/data/index/MAIN_WRITELOCK
sdb/data/index/MAIN_x81fj2z29d001szb.seg
sdb/data/log/.__celery.lock
sdb/data/log/.__paperless.lock
sdb/media/media.lock
sdb/media/documents/archive/0000002.pdf
sdb/media/documents/archive/0000003.pdf
sdb/media/documents/originals/0000002.pdf
sdb/media/documents/originals/0000003.pdf
sdb/media/documents/thumbnails/0000002.webp
sdb/media/documents/thumbnails/0000003.webp
sdb/data/index/_MAIN_10.toc
sdb/data/index/MAIN_3mi7lcdmzc5ffrea.seg
sdb/data/index/MAIN_qe7xgixx8ztqdqn6.seg
sdb/media/documents/archive/0000004.pdf
sdb/media/documents/archive/0000005.pdf
sdb/media/documents/archive/0000006.pdf
sdb/media/documents/archive/0000007.pdf
sdb/media/documents/originals/0000004.pdf
sdb/media/documents/originals/0000005.jpg
sdb/media/documents/originals/0000006.pdf
sdb/media/documents/originals/0000007.pdf
sdb/media/documents/thumbnails/0000004.webp
sdb/media/documents/thumbnails/0000005.webp
sdb/media/documents/thumbnails/0000006.webp
sdb/media/documents/thumbnails/0000007.webp
sdb/data/index/_MAIN_11.toc
sdb/data/index/MAIN_2l8q545pdyllmrnh.seg
sdb/media/documents/archive/0000008.pdf
sdb/media/documents/originals/0000008.pdf
sdb/media/documents/thumbnails/0000008.webp
