[Unit]
Description=Paperless Celery Workers
Requires=redis.service

[Service]
#User=paperless
#Group=paperless
WorkingDirectory=/opt/paperless/src
ExecStart=/root/.pyenv/shims/celery --app paperless worker --loglevel INFO

[Install]
WantedBy=multi-user.target
