[Unit]
Description=M-Paperless Webserver
After=network.target
Wants=network.target
Requires=redis.service
#Requires=m-webserver.socket

[Service]
User=paperless
Group=paperless
ExecStartPre=/opt/paperless/update-ip.sh
WorkingDirectory=/opt/paperless/src
Environment = "PATH=/opt/paperless/.pyenv/shims:/opt/paperless/.pyenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/paperless/.pyenv/shims/gunicorn -c /opt/paperless/gunicorn.conf.py paperless.asgi:application

[Install]
WantedBy=multi-user.target
